.profile-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__btn-container {
  display: flex;
  justify-content: end;
  margin-top: 0.8em;
}

.profile__btn-handle-remove {
  margin-right: 0;
}

.profile {
  width: fit-content;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em;
  gap: 3em;
  font-size: min(12px, 4vw);
  border: 1px solid var(--gray-border-dark);
}

.profile p {
  font-size: min(16px, 5vw);
}

.profile h3 {
  font-size: min(24px, 6vw);
}

.profile h1 {
  font-size: min(45px, 7vw);
}

.profile img {
  object-fit: contain;
}

.profile img,
.profile_description {
  width: 50%;
}

.profile__description__current-rank {
  text-transform: capitalize;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.profile__description__user-name {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
}

.profile__description__city,
.profile__description__orgization {
  margin: 0;
  padding: 0;
}

.profile__description__city {
  margin-top: 1em;
}

.profile__description__organization {
  margin-bottom: 2em;
}

.profile__description__details {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.profile__handle-input {
  padding: 0.3em;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 2px solid var(--gray-border-light);
}

.profile__handle-input:focus {
  border: 2px solid var(--blue-border);
  outline: 4px solid var(--blue-input-outline);
}

.profile__default-page {
  display: flex;
  flex-direction: column;
  margin-top: -10rem;
}

.profile__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.profile-container .add-profile-button,
.profile-container .profile__btn-handle-remove {
  background-color: var(--aqua-light);
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 0.4em 1em;
  border-radius: 5px;
  font-size: 18px;
}

.profile-container .add-profile-button:hover,
.profile-container .profile__btn-handle-remove:hover {
  background-color: var(--aqua-dark);
}

.profile__input-container {
  display: flex;
  margin: 0 auto;
  gap: 1em;
}
