.roadmap__sidebar-container {
  width: 27%;
}

.roadmap__sidebar-container h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 2em;
  cursor: pointer;
}

.roadmap__sidebar-container h3:hover {
  text-decoration: underline;
}

.roadmap__sidebar-container ul {
  list-style: none;
  font-size: 1rem;
  margin-top: 0;
  cursor: pointer;
  padding-left: 0;
}

.roadmap__sidebar-container ul li {
  margin-bottom: 0.3em;
  padding: 0.3em 0.3em;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.roadmap__sidebar-container ul li:hover {
  background-color: #edeff0;
}
