.roadmap__data-container h3:hover {
  text-decoration: underline;
}

.roadmap__data-container ul {
  list-style: none;
  font-size: 1rem;
  margin-top: 0;
  cursor: pointer;
  padding-left: 0;
}

.roadmap__data-container ul li {
  padding: 0.3em 0.3em;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.roadmap__data-container ul li:hover {
  text-decoration: underline;
}

.roadmap__data-actions {
  background-color: pink;
}

.roadmap__data-container .text-link {
  text-decoration: none;
  color: #000;
}
