@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-primary: #1e76cc;

  --clr-specialist: #03a89e;
  --clr-pupil: #008000;

  --aqua-dark: #00c4a7;
  --aqua-light: #00d1b2;

  --blue-bg-light: #d7e9fa;
  --blue-link: #0000ff;
  --blue-border: #407bff;
  --blue-bookmark: #0068f9;

  --blue-input-outline: #c6d7ff;

  --gray-border-dark: #909090;
  --gray-border-light: #c8cacf;

  --gray-bg-dark: #d9d9d9;
  --gray-bg-light: #ececec;

  --green-dark: #59d966;

  --ff-main: "Outfit", sans-serif;
  --ff-logo: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

body {
  margin: 0;
  font-family: var(--ff-main), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
